:root {
  font-family: "Poppins", sans-serif !important;
}
.ant-layout-sider-children {
  background-color: white;
}
.table-row-dark {
  background-color: #fafafa;
  font-weight: 900;
}
.ant-select-selection-item {
  font-weight: 500 !important;
}
